# 2.2 지능형 리스트와 제너레이터 표현식

## 2.2.1 지능형 리스트와 가독성

In [1]:
symbols = '@$#%@#'
codes = []

for symbol in symbols:
    codes.append(ord(symbol))
    
print(codes)

[64, 36, 35, 37, 64, 35]

In [2]:
symbols = '@$#%@#'
codes = [ ord(symbol) for symbol in symbols]
print(codes)

[64, 36, 35, 37, 64, 35]

In [3]:
x = 'ABC'
dummy = [ord(x) for x in x ]
print(x)
print(dummy)

ABC
[65, 66, 67]

In [4]:
symbols = '@$#%@#'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
print(beyond_ascii)

beyond_ascii = list(filter(lambda c:c>127, map(ord, symbols)))
print(beyond_ascii)

[]
[]

## 2.2.3 데카르트 곱

In [8]:
colors = ['black','white']
sizes = ['S','M','L']
tshirts = [(color,size) for color in colors for size in sizes ]
print(tshirts)

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]

In [9]:
for color in colors:
    for size in sizes:
        print((color,size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [11]:
tshirts = [(color, size) for size in sizes
                         for color in colors]
print(tshirts)

[('black', 'S'), ('white', 'S'), ('black', 'M'), ('white', 'M'), ('black', 'L'), ('white', 'L')]

## 2.2.4 제너레이터 표현식

In [12]:
symbols = '@$#%@#'
print(tuple(ord(symbol) for symbol in symbols))

(64, 36, 35, 37, 64, 35)

In [13]:
import array
print(array.array('I',((ord(symbol) for symbol in symbols)) ))

array('I', [64, 36, 35, 37, 64, 35])

In [14]:
colors = ['black','white']
sizes = ['S','M','L']

# 반복문을 통해 생성된 객체를 따로 사용하는 것이 아니므로 이 경우는 list comp. 보다 generator가 메모리적으로 더 효율적
for tshirts in ('%s %s'%(c,s) for c in colors for s in sizes):
    print(tshirts)

black S
black M
black L
white S
white M
white L

# 2.3 튜플은 단순한 불변 리스트가 아니다

## 2.3.1 레코드로서의 튜플

In [18]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo',2003, 32450, 0.66, 8014)
traveler_ids =[('USA','31195855'),("BRA",'CE342567'),('ESP','XDA205856')]

for passport in sorted(traveler_ids):
    print('%s/%s' %passport)
    
for country, _ in traveler_ids:
    print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

## 2.3.2 튜플 언패킹

In [19]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates

print(latitude)
print(longitude)

33.9425
-118.408056

In [22]:
print(divmod(20,8))
t = (20,8)
print(divmod(*t))

quotient, remainder = divmod(*t)
print(quotient, remainder)

(2, 4)
(2, 4)
2 4

In [23]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
print(filename)

idrsa.pub

In [27]:
a,b,*rest = range(5)
print(a,b,rest)

a,b,*rest = range(3)
print(a,b,rest)

a,b,*rest = range(2)
print(a,b,rest)

0 1 [2, 3, 4]
0 1 [2]
0 1 []

In [30]:
a,*body, c, d = range(5)
print(a, body, c, d)

*head , b, c, d = range(5)
print(head, b, c, d)

0 [1, 2] 3 4
[0, 1] 2 3 4

In [37]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('','lat.','long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitue, longitude) in metro_areas:
    if longitude <= 0 :
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   33.9425 |  -99.1333
New York-Newark |   33.9425 |  -74.0204
São Paulo       |   33.9425 |  -46.6358

## 2.3.4 명명된 튜플

In [38]:
from collections import namedtuple
City = namedtuple('City','name country population coordinates')
tokyo = City('Tokyo','JP',36.933 , (35.689722,139.691667))
print(tokyo)
print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
(35.689722, 139.691667)
JP

In [43]:
print(City._fields)
LatLong = namedtuple('LatLong','lat long')
delhi_data = ('Delhi NCR','In', 21.935, LatLong(28.613889,77.208889))
delhi = City._make(delhi_data) # City( ~~ ) 랑 City._make(~~) 랑 같은 역할인가보군
print(delhi._asdict())

for key , value in delhi._asdict().items():
    print(key + ':' , value)

('name', 'country', 'population', 'coordinates')
{'name': 'Delhi NCR', 'country': 'In', 'population': 21.935, 'coordinates': LatLong(lat=28.613889, long=77.208889)}
name: Delhi NCR
country: In
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

# 2.4 슬라이싱

## 2.4.1 슬라이스와 범위 지정시에 마지막 항목이 포함되지 않는 이유

In [46]:
l = [10,20,30,40,50,60]
print(l[:2])
print(l[2:])
print(l[:3])
print(l[3:])

[10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[40, 50, 60]

## 2.4.2 슬라이스 객체

In [47]:
s = 'bicycle'
print(s[::3])
print(s[::-1])
print(s[::-2])

bye
elcycib
eccb

In [48]:
invoice = """
0.....6.................................40........52...55........
1909 Pimoroni PiBrella                      $17.50    3    $52.50
1489 6mm Tactile Switch x20                  $4.95    2    $9.90
1510 Panavise Jr. - PV-201                  $28.00    1    $28.00
1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95
"""

In [49]:
SKU = slice(0,6)
DESCRIPTION = slice(6,40)
UNIT_PRICE = slice(40,52)
QUANTITY = slice(52,55)
ITEM_TOTAL = slice(55,None)
line_items = invoice.split('\n')[2:]

for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.50   imoroni PiBrella
     $4.95   mm Tactile Switch x20
    $28.00   anavise Jr. - PV-201
    $34.95   iTFT Mini Kit 320x240

## 2.4.4 슬라이스에 할당하기

In [50]:
l = list(range(10))
print(l)

# 4번째 index 는 그냥 사라지네
l[2:5] = [20,30]
print(l)

del l[5:7]
print(l)

l[3::2] = [11,22]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 8, 9]
[0, 1, 20, 11, 5, 22, 9]

In [51]:
l[2:5] = 100

TypeError: can only assign an iterable

In [52]:
l[2:5] = [100]
print(l)

[0, 1, 100, 22, 9]