# 2 Seqeunce

## 2. 1 내장 시퀀스 개요
container sequence
- 서로 다른 자료형의 항목들을 담을 수 있는 list, tuple, colletions.deque 형

flat sequence
- 단 하나의 자료형만 담을 수 있는 str, byte, bytearray, memoryview, array.array 형

---
또한, 가변, 불변에 따라 이렇게 분류할 수도 있음
가변 시퀀스
- lst, bytearray, array.array, collections.deque, memoryview

불변 시퀀스
tuple, str, bytes

flat은 어떤 자료형이 나올 지 알고 있기 때문에 메모리 양이 적음
하지만 array는 뭐가 들어올지 몰라서 메모리를 여유롭게 사용함

C언어의 경우 변수가 메모리 주소임.
Python의 경우 변수에 값을 할당하면 메모리공간에 바로 값을 넣는 것이 아니라 메모리를 참조하는 방식임 -> python 메모리 관리에 대해서 더 찾아 보면 좋을 것!

큰 데이터에서 list나, array에서 값을 추가할 때(append) list가 더 빨랐었다~

array를 만들 때 두 가지 를 받는 데, 'I'는 자료형임

## 2. 2 지능형 리스트와 제너레이터 표현식

### 2. 2. 1  지능형 리스트와 가독성
(가독성에 대해서 의심된다면 이 책을 계속 읽으라고 함)

In [1]:
symbols = "!@#@%#%#$#@"
codes = []
for symbol in symbols:
    codes.append(ord(symbol))   # ord(): ASCII 코드로 변환 / chr(): 문자로 변환

print(codes)

[33, 64, 35, 64, 37, 35, 37, 35, 36, 35, 64]

In [2]:
codes = [ord(symbol) for symbol in symbols]
print(codes)

[33, 64, 35, 64, 37, 35, 37, 35, 36, 35, 64]

In [3]:
# in python version 2
x = 'my precious'
dummy = [x for x in 'ABC']
x # -> 'C'

'my precious'

In [4]:
# in python 3
x = 'my precious'
dummy = [x for x in 'ABC']
x

'my precious'

### 2. 2. 2 지능형 리스트와 map()/filter() 비교

In [5]:
symbols = "!#%$%#$%&(&"
beyond_ascii = [ord(s) for s in symbols if ord(s) < 127]    # 127보다 작은 ASCII 코드만 출력
print(beyond_ascii)

beyond_ascii = list(filter(lambda c: c < 127, map(ord, symbols)))    # map(): 함수와 반복 가능한 객체를 인자로 받아서 함수를 반복 가능한 객체의 각 요소에 적용
print(beyond_ascii)

[33, 35, 37, 36, 37, 35, 36, 37, 38, 40, 38]
[33, 35, 37, 36, 37, 35, 36, 37, 38, 40, 38]

### 2. 2. 3 데카르트 곱

In [6]:
colors = ['blue', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes] 
tshirts

[('blue', 'S'),
 ('blue', 'M'),
 ('blue', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [7]:
for color in colors:
    for size in sizes:
        print((color, size))

('blue', 'S')
('blue', 'M')
('blue', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [8]:
tshirts = [(color, size) for size in sizes for color in colors]
tshirts

[('blue', 'S'),
 ('white', 'S'),
 ('blue', 'M'),
 ('white', 'M'),
 ('blue', 'L'),
 ('white', 'L')]

### 2. 2. 4 제너레이터 표현식

In [9]:
symbols = "***^^^$$$"
tuple(ord(symbol) for symbol in symbols)

(42, 42, 42, 94, 94, 94, 36, 36, 36)

In [10]:
import array

array.array('I', (ord(symbol) for symbol in symbols))

array('I', [42, 42, 42, 94, 94, 94, 36, 36, 36])

In [11]:
# 제너레이터는 next() 함수를 이용해 데이터를 하나씩 전달 (제너레이터는 14장에서 더 자세히 설명)
colors = ['blue', 'white']
sizes = ['S', 'M', 'L']

for tshirts in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirts)

blue S
blue M
blue L
white S
white M
white L

## 2. 3 튜플은 단순한 불변 리스트가 아니다

### 2. 3. 1  레코드로서의 튜플
튜플은 단순히 불변한 리스트가 아니고, DB에서의 하나의 행, 즉 레코드라고 생각할 수 있다. 그렇기 때문에 순서가 중요하다!!!!!!

In [12]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [13]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### 2. 3. 2 튜플 언패킹

In [14]:
lax_coordinates = (33.9425, -118.408056)
latitude, longtitude = lax_coordinates  # 튜플 언패킹

print(f"latitude: {latitude},\nlongtitude: {longtitude}")

latitude: 33.9425,
longtitude: -118.408056

In [15]:
divmod(20, 8)       # 몫과 나머지를 튜플로 반환

(2, 4)

In [16]:
t = (20, 8)
divmod(*t)        # *를 이용해 튜플 언패킹

(2, 4)

In [17]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [18]:
# 초과항목을 잡기 위해 * 사용
a, b, *rest = range(5)
print(a, b, rest)       # list로 묶여서 반환

a, b, *rest = range(3)
print(a, b, rest)

a, b, *rest = range(2)
print(a, b, rest)

0 1 [2, 3, 4]
0 1 [2]
0 1 []

In [19]:
import os

_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

### 2. 3. 3. 내포된 튜플 언패킹

In [20]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longtitude) in metro_areas:
    if longtitude <= 0:
        print(fmt.format(name, latitude, longtitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### 2. 3. 4 명명된 튜플(namedtuple)
`collections.namedtuple() 함수는 필드명과 클래스명을 추가한 튜플의 서브클래스를 생성하는 팩토리 함수로서, 디버깅할 때 유용하다.

In [21]:
import collections


Card = collections.namedtuple('Card', ['rank', 'suit'])

In [22]:
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

print(tokyo)
print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
(35.689722, 139.691667)
JP

In [23]:
print(City._fields)

LatLong = namedtuple('LatLong', 'lat long')
delhi_data = City('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)

print(delhi._asdict())

('name', 'country', 'population', 'coordinates')
{'name': 'Delhi NCR', 'country': 'IN', 'population': 21.935, 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [24]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

### 2. 3. 5 불변 리스트로서의 튜플
튜플은 항목을 추가하거나 삭제하는 기능 및 reversed 메서드를 제외하고 리스트가 제공하는 메서드를 모두 지원한다.

In [25]:
list = [1, 2, 3]
tuple = (1, 2, 3)

In [26]:
set(list.__dir__()) - set(tuple.__dir__())

{'__delitem__',
 '__iadd__',
 '__imul__',
 '__reversed__',
 '__setitem__',
 'append',
 'clear',
 'copy',
 'extend',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'}

## 2. 4 슬라이싱
list, tuple, str, 등 모든 시퀀스형은 슬라이싱이 가능하다.

### 2. 4. 1 슬라이스와 범위 지정시에 마지막 항목이 포함되지 않는 이유

In [27]:
l = [10, 20, 30, 40, 50, 60]
print(l[:2])   # 2번 인덱스에서 분할
print(l[2:])   # 2번 인덱스 이후부터
print(l[:3])
print(l[3:])

[10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[40, 50, 60]

### 2. 4. 2 슬라이스 객체
비밀은 아니지만 `s[a:b:c]` 는 c보폭만큼 항목을 건너뛰게 만든다. 보폭이 음수인 경우에는 거꾸로 거슬러 올라가 항목을 반환한다.

In [28]:
s = "bicycle"

print(s[::3])
print(s[::-1])
print(s[::-2])

bye
elcycib
eccb

In [29]:
invoice = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                 $17.50    3    $52.50
1489  6mm Tactile Switch x20            $4.95     2    $9.90
1510  Panavise Jr. - PV-201             $28.00    1    $28.00
1601  PiTFT Mini Kit 320x240            $34.95    1    $34.95
"""

SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

$17.50    3  Pimoroni PiBrella
$4.95     2  6mm Tactile Switch x20
$28.00    1  Panavise Jr. - PV-201
$34.95    1  PiTFT Mini Kit 320x240

### 2. 4. 3 다차원 슬라이싱과 생략 기호
[] 연산자는 콤마로 구분해서 여러 개의 인덱스나 슬라이스를 가질 수 있음

### 2. 4. 4 슬라이스에 할당하기

In [43]:
# l = list(range(10)) # 왜 그래?
l = [i for i in range(10)]
print(l)

l[2:5] = [20, 30]       # 슬라이스에 값 할당
print(l)

del l[5:7]      # 5번 인덱스부터 7번 인덱스 전까지 삭제
print(l)

l[3::2] = [11, 22]
print(l)


l[2:5] = [100]
# l[2:5] = 100     # TypeError: can only assign an iterable
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 8, 9]
[0, 1, 20, 11, 5, 22, 9]
[0, 1, 100, 22, 9]

>  문자열을 슬라이싱할 때

- list[i:j] -> O(k) 시간 복잡도 객체 k개에 대한 조회가 필요함
- list.reverse() -> O(n) 리스트에만 제공된다.  

슬라이싱이 속도가 더 빠름!!!!


하지만 **리스트에서 데이터를 다룰 때**에는 `reverse()`가 속도가 더 빠름.
데이터의 복사가 필요할 때에는 `list[::-1]`을 사용할 수 있겠지만, 그렇지 않은 경우에는 `reverse()` 사용하는 게 속도면에서 유리!

https://www.geeksforgeeks.org/python-reversed-vs-1-which-one-is-faster/

#### 부록: 슬라이싱 속도 테스트
- 결과: 리스트에서 reverse()가 확연히 빠르다. 그 외에는 잘 모르겠다...

In [73]:
l = [i for i in range(1000)]
s = "".join(str(list))

In [74]:
%%time
test0 = s[::-1]

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 2.15 µs

In [75]:
%%time
test1 = l[::-1]

CPU times: user 9 µs, sys: 0 ns, total: 9 µs
Wall time: 11 µs

In [76]:
%%time
l.reverse()      # list.reverse() return None

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 3.81 µs

## 2. 5 시퀀스에 덧셈과 곱셈 연산자 사용하기

In [77]:
l = [1, 2, 3]
print(l * 5)
print(5 * 'abcd')

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
abcdabcdabcdabcdabcd

### 2. 5. 1 리스트의 리스트 만들기

In [83]:
board = [['_'] * 3 for i in range(3)]
print(board)

board[1][2] = 'X'       # 1번째 리스트에 2번 인덱스에 X 할당
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [84]:
# 위의 코드를 아래처럼 작성하고 싶을 수도 있지만 이것은 **잘못된 코드**
weird_board = [['_'] * 3] * 3
print(weird_board)

weird_board[1][2] = 'O'
print(weird_board)      # 동일한 객체를 참고하고 있기 때문에 모든 값이 바뀌게 됨

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [89]:
# 본질적으로 위 코드는 이것과 같음
row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)
print(board)

board[1][2] = '헉'
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '헉'], ['_', '_', '헉'], ['_', '_', '헉']]

In [90]:
# 하지만 지능형 리스트는 이렇게 작동함
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)

board[1][2] = '^^'
print(board)

[['_', '_', '_'], ['_', '_', '^^'], ['_', '_', '_']]

## 2. 6 시퀀스의 복합 할당