#### 예제 2-7 레코드로 사용된 튜플

In [1]:
# 예제 2-7 레코드로 사용된 튜플
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [2]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [3]:
for country, _ in traveler_ids:  # Unpacking
    print(country)

USA
BRA
ESP

### 2.3.3 튜플 언패킹
**병렬 할당**: 시퀀스의 각 항목을 변수에 할당 하는 것

In [4]:
lax_coordinates = (33.9425, -118.408056)  
latitude, longitude = lax_coordinates  # 병렬 할당 via 튜플 언패킹
print(latitude)
print(longitude)

33.9425
-118.408056

In [5]:
print(divmod(20, 8))  # x를 y로 나눈 (나머지, 몫)

t = (20, 8)
print(divmod(*t))  # * 을 이용한 튜플 언패킹

quotient, remainder = divmod(*t)
print(quotient, remainder)

(2, 4)
(2, 4)
2 4

In [6]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
print(filename)

idrsa.pub

### 초과 항목을 잡기 위해 * 사용하기 
- 병렬 할당의 경우 `*`는 단 하나의 변수에만 적용할 수 있다. 하지만 어떠한 변수에도 적용할 수 있다.

In [7]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [8]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [9]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [10]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [11]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

### 2.3.3 내포된 튜플 언패킹
- 언패킹할 표현식을 받는 튜플은 `(a, b, (c, d))`처럼 다른 튜플을 내포할 수 있다.

- `<5`: 5칸 부여 / 왼쪽 정렬
- `>5`: 5칸 부여 / 오른쪽 정렬
- `^5`: 5칸 부여 / 가운데 정렬
- `=5`: 5칸 부여 / 숫자의 부호를 맨 왼쪽에 작성
- `-<5`: 5칸 부여 / 빈공간은 '-'로 할당

In [12]:
metro_areas = [
    ('Tokyo', 'JP', 36.993, (35.689722, 139.691617)),
    ('Deihi NCR', 'IN', 21.935, (28.613889, 77.208889)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat. ', 'long. '))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude >= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |  long.
Tokyo           |   35.6897 |  139.6916
Deihi NCR       |   28.6139 |   77.2089

### 2.3.4 명명된 튜플 (namedtuple)
- 필드명과 클래스명을 추가한 튜플의 서브클래스를 생성하는 팩토리 함수
  - 첫 번째 인자는 클래스명, 두 번째 인자는 필드명이다. 필드명의 경우 리스트 또는 공백으로 구분된 하나의 문자열을 입력 받는다.
- 필드 이름 또는 인덱스로 값에 접근 가능하다.
- 추가적으로 `_fields` 클래스 속성, `_make(iterable)` 클래스 메서드, `asdict()` 객체 메서드를 갖는다.

In [13]:
# 예제 2-9 명명된 튜플형 정의 및 사용
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.993, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.993, coordinates=(35.689722, 139.691667))

In [14]:
print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1:3])

36.993
(35.689722, 139.691667)
('JP', 36.993)

In [15]:
# 예제 2-10: 명명된 튜플의 속성과 메서드
print(City._fields)

LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.20889))
delhi = City._make(delhi_data)
delhi._asdict()

for key, value in delhi._asdict().items():
    print(key + ':', value)

('name', 'country', 'population', 'coordinates')
name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.20889)

### 2.3.5 불변 리스트로서의 튜플
- 튜플은 `__reversed__()`를 제외하고 리스트가 제공하는 메서드를 모두 제공한다.

In [16]:
a = (1, 2)
b = (3, 4)
a + b

(1, 2, 3, 4)

## 2.4 슬라이싱
- 리스트, 튜플, 문자열 등 모든 시퀀스형은 슬라이싱 연산을 지원

### 2.4.1 슬라이스와 범위 지정시에 마지막 항목이 포함되지 않는 이유
- 인덱스가 0부터 시작하는 관례 때문
- 중단점만 이용해서 슬라이스나 범위를 지정할 때 길이의 계산이 쉽다.
- 시작점과 중단점을 모두 지정할 때 시퀀스의 길이는 중단점 - 시작점
- 특정 인덱스를 기준으로 겹침 없이 시퀀스를 분할하기 쉽다.

In [17]:
l = [10, 20, 30, 40, 50, 60]
print(l[:2])
print(l[2:])
print(l[:3])
print(l[3:])

[10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[40, 50, 60]

### 2.4.2 슬라이스 객체
- `s[a:b:c]`는 인덱스 a부터 b-1까지 c 보폭씩 항목을 건너뛰며 참조
- 보폭이 음수인 경우, 인덱스 a부터 b+1까지 c 보폭씩 거꾸로 항목을 건너뛰며 참조
  - a와 b가 없는 경우 가장 끝 인덱스부터 시작

In [18]:
s = 'bicycle'
print(s[::3])
print(s[-1::-1])
print(s[::-2])

bye
elcycib
eccb

- `a:b:c` 표기법은 `[]` 안에서만 사용할 수 있으며, `slice(a, b, c)` 객체를 생성한다.
- `s[a:b:c]`는 `s.__getitem__(slice(a, b, c))`을 호출하는 것
- `slice` 객체를 변수에 할당해서 사용할 경우 가독성이 올라갈 수 있다.

In [19]:
# 예제 2-11 단순 텍스트 파일 청구서의 행 항목들
invoice = """
0.....6.................................40........52...55........
1909 Pimoroni PiBrella                      $17.50    3    $52.50
1489 6mm Tactile Switch x20                  $4.95    2    $9.90
1510 Panavise Jr. - PV-201                  $28.00    1    $28.00
1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95
"""
SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52) 
QUANTITY = slice(52,55)
ITEM_TOTAL = slice(55, None)

line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.50   imoroni PiBrella
     $4.95   mm Tactile Switch x20
    $28.00   anavise Jr. - PV-201
    $34.95   iTFT Mini Kit 320x240

### 2.4.3 다차원 슬라이싱과 생략 기호
- 파이썬에 내장된 시퀀스형은 1차원 -> 단 하나의 인덱스나 슬라이스 지원
- [] 연산자는 콤마로 구분하여 여러 개의 인덱스나 슬라이스를 가질 수 있음
  - `a[i, j]` -> `a.__getitem((i, j))` 호출
- `...`는 파이썬 파서에 의헤 하나의 토큰으로 인식되며, 함수의 인수나 슬라이스의 한 부분으로 전달할 수 있다.

In [20]:
print(...)

Ellipsis

### 2.4.4 슬라이스에 할당하기

In [21]:
l = list(range(10))
print(l)

l[2:5] = [20, 30]
print(l)

del l[5:7]
print(l)

l[3::2] = [11, 22]
print(l)

l[2:5] = [100]  # 2~4 항목이 100 하나로 대체
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 8, 9]
[0, 1, 20, 11, 5, 22, 9]
[0, 1, 100, 22, 9]

## 2.5 시퀀스에 덧셈과 곱셈 연산자 사용하기
- 연산시 객체를 새로 만들고, 피연사는 변경하지 않는다

In [22]:
l = [1, 2, 3]
print(l * 5)
print(5 * 'abc')

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
abcabcabcabcabc

리스트의 항목이 가변 항목인 경우 `*` 연산을 조심해야 한다. 각 항목이 동일한 주소를 참조한다.

In [23]:
my_list = [[1]] * 3
print(my_list)

my_list[0][0] = 2
print(my_list)

for element in my_list:
    print(id(element))

[[1], [1], [1]]
[[2], [2], [2]]
4612889408
4612889408
4612889408

### 2.5.1 리스트의 리스트 만들기

In [24]:
# 예제 2-12 길이가 3인 리스트 3개로 표현한 틱택토 보드
board = [['_'] * 3 for i in range(3)]
print(board)

board[0][0] = 'X'
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['X', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [25]:
# 예제 2-13 동일한 리스트에 대한 세 개의 참조를 가진 리스트는 쓸모없다.
board = [['_'] * 3] * 3
print(board)

board[0][0] = 'X'
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['X', '_', '_'], ['X', '_', '_'], ['X', '_', '_']]

## 2.6 시퀀스의 복합 할당
- `+=`, `*=` 등을 복합 할당 연산자라고 부른다.
- `+=`는 `__iadd__()` 특수 메서드에 의해 작동되며, 정의가 되어 있지 않은 경우 `__add__()`를 호출한다.
  -  첫 번째 피연산자의 `__iadd__()`이 정의되어 있으면, `__iadd__()`를 호출한다.
  -  `__iadd__()`가 정의되어 있지 않으면, a+b의 값이 a로 할당된다.
- `*=`는 `__imul__()` 특수 메서드를 통해 구현된다.

In [5]:
# 가변 시퀀스에 적용한 예시
l = [1, 2, 3]
print("Id of `l`: ", id(l))

l *= 2
print("`l`: ", l)
print("Id of `l`: ", id(l))

Id of `l`:  2404220434624
`l`:  [1, 2, 3, 1, 2, 3]
Id of `l`:  2404220434624

이전 `l`과 이후 `l`은 같은 객체이다.

In [6]:
# 불변 시퀀스에 적용한 예시
t = (1, 2, 3)
print("Id of `t`: ", id(t))

t *= 2
print("`t`: ", l)
print("Id of `t`: ", id(t))

Id of `t`:  2404230351168
`t`:  [1, 2, 3, 1, 2, 3]
Id of `t`:  2404228414912

이전 `t`과 이후 `t`는 다른 객체이다. 항목을 추가하는 것이 아니라, 항목이 추가된 시퀀스 전체를 새로 만들어 타깃 변수에 저장하기 때문에 비효율적이다.

### 2.6.1 += 복합 할당 퀴즈

In [11]:
# 예제 2-15 예상치 못한 결과
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [12]:
t

(1, 2, [30, 40, 50, 60])

In [13]:
# 예제 2-15 예상치 못한 결과
t = (1, 2, [30, 40])
t[2] = t[2] + [50, 60]

TypeError: 'tuple' object does not support item assignment

In [14]:
t

(1, 2, [30, 40])

In [15]:
import dis
dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

## 2.7 `list.sort()`와 `sorted()` 내장 함수
- `list.sort()` 메서드는 사본을 만들지 않고 리스트 내부를 변경하여 정렬
  - 새로운 객체를 생성하지 않고, 기존 객체를 변경했다는 것을 알리기 위하여 `None`을 반환하는 것은 파이썬 API의 중요한 관례이다.
- `sorted()`는 새로운 리스트를 생성해서 반환
- 두 메서드/내장 함수는 `reverse`와 `key` 인자를 받는다.
  - `reverse`가 True일 경우 내림차순 정렬한다. 기본은 False이다.
  - 항목에 `key` 함수를 적용한 항목에 대해 정렬을 수행

In [18]:
fruits = ['grape', 'raspberry', 'apple', 'banana']

In [19]:
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [20]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [21]:
sorted(fruits, key=len)  # 동일 항목에 대해서는 기존 순서를 유지

['grape', 'apple', 'banana', 'raspberry']

In [22]:
sorted(fruits, key=len, reverse=True)  # 동일 항목에 대해서는 "여전히" 기존 순서를 유지 -> 안정적인 정렬 알고리즘

['raspberry', 'banana', 'grape', 'apple']

In [23]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [24]:
fruits.sort()

In [25]:
fruits

['apple', 'banana', 'grape', 'raspberry']

## 2.8 정렬된 시퀀스를 bisect로 관리하기
- `bisect` 모듈은 `bisect()`와 `insort()` 함수를 제공
  - `bisect()`: 이진 검색 알고리즘을 이용해서 시퀀스 검색
    - `lo` 인덱스와 `hi` 인덱스 사이에서 검색도 가능
    - needle과 동일한 항목이 있을 때 오른쪽 위치를 반환, `bisect_left()`는 왼쪽을 반환
  - `insort()`: 정렬된 시퀀스 안에 항목을 삽입
    - `lo` 인덱스와 `hi` 인덱스 사이에서 검색 범위 제한 가능
    - right, left 함수 존재


### 2.8.1 `bisect()`로 검색하기
- `bisect(haystack, needle)`: 오름차순 정렬된 시퀀스 `haystack`에서 `needle`이 들어갈 수 있는 위치를 찾아서 반환

In [30]:
# 예제 2-17 정렬된 시퀀스에서 항목을 추가할 위치를 찾아내는 bisect
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d} @ {1:2d}    {2}{0:<2d}'

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * '  |'
        print(ROW_FMT.format(needle, position, offset))
        
print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
demo(bisect.bisect_left)

haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 12      |  |  |  |  |  |  |  |  |  |  |  |29
23 @  9      |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  4      |  |  |  |8
 5 @  2      |  |5
 2 @  1      |2
 1 @  0    1
 0 @  0    0

In [31]:
# 예제 2-17 정렬된 시퀀스에서 항목을 추가할 위치를 찾아내는 bisect
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d} @ {1:2d}    {2}{0:<2d}'

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * '  |'
        print(ROW_FMT.format(needle, position, offset))
        
print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
demo(bisect.bisect)

haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11      |  |  |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  5      |  |  |  |  |8
 5 @  3      |  |  |5
 2 @  1      |2
 1 @  1      |1
 0 @  0    0

- `bisect()` 이용 사례

In [33]:
# 예제 2-18 시험 점수를 입력받아 등급 문자를 반환하는 grade() 함수
def grade(score, breakpoints=[60, 70, 80, 90], grades='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i]

[grade(score) for score in [33, 99, 77, 70, 89, 90, 10]]

['F', 'A', 'C', 'C', 'B', 'A', 'F']

- 내림차순 되어 있는 경우 원하는 방식으로 작동하지 않는다.

In [34]:
a = [5, 4, 2, 1]
b = 3
bisect.bisect(a, b)

4

### 2.8.2 `bisect.insort()`로 삽입하기
- 오름차순 정렬된 시퀀스 안에 정렬을 유지한채로 항목을 삽입

In [38]:
# 예제 2-19 시퀀스를 항상 정렬된 상태로 유지하는 insort()
import bisect
import random
SIZE = 7
random.seed(1729)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print('%d ->' % new_item, my_list)

10 -> [10]
0 -> [0, 10]
6 -> [0, 6, 10]
8 -> [0, 6, 8, 10]
7 -> [0, 6, 7, 8, 10]
2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]

In [37]:
new_item

10